
    <!-- d3 -- >
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->

    <!-- plotly -->
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
    <script src="static/js/plotly-latest.min.js"></script>

    <!-- jquery -->
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <script src="static/js/jquery.min.js"></script>

    <!-- selector -->
    <script src="{{ url_for('static', filename='js/getmdl-select.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/getmdl-select.min.css') }}">


    <!-- date picker -->
    <link rel="stylesheet" href="static/mdl-date-picker/css/mdDateTimePicker.css">

    <script src="static/mdl-date-picker/js/moment.min.js"></script>
    <script src="static/mdl-date-picker/js/draggabilly.pkgd.min.js"></script>
    <script src="static/mdl-date-picker/js/mdDateTimePicker.js"></script>
