<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">
  <head>
      {% include 'head.html' %}
      {% include 'external_lib.html' %}
      {% block head %}
      {% endblock %}
  </head>

  <body>

    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">


      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">

        <div class="mdl-layout__header-row">

          {% block arrow_back %}
          {% endblock %}

          <span class="mdl-layout-title">
            {{ header_text.text }}
          </span>
          <div class="mdl-layout-spacer"></div>
          {% block toolbar %}
            {% include 'default_toolbar.html' %}
          {% endblock %}
        </div>
      </header>

        {% include 'left_menu.html' %}

        <main class="mdl-layout__content mdl-color--grey-100">
            <!-- <div class="mdl-grid demo-content"> -->
                {% block content %}{% endblock %}
            <!-- </div> -->
        </main>

        <!--
        {% if task == '' or task == 'home' %}
            {% include 'demo_content.html' %}
        {% endif %}
        -->





    </div>

  {% block action_button %}
  <a href="{{url_for('show_filter')}}">
    <button target="_blank" id="filter_button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">tune</i>
    </button>
  </a>
  {% endblock %}


    <script src="{{ url_for('static', filename='mdl/material.min.js') }}"></script>
  </body>
</html>
