{% extends "main.html" %}

{% block toolbar %}
<!-- {{ super() }} -->
{% endblock %}

{% block content %}
<div id="content"></div>

<script>
$(document).ready(function(){
     $("#content").load("html/event_list?"+userLocalStorage.getApiParams());
});
</script>


{% endblock %}

