{% extends "main.html" %}

{% block toolbar %}
{% endblock %}


{% block content %}



    <div class="mdl-color--white mdl-shadow--2dp div-content-600 mdl-typography--text-center">

        {% with city_list=city_list %}
                {% include "page_filter_city_selector.html" %}
        {% endwith %}

        <br/>

        {% include "page_filter_limit.html" %}

        <br/>

        {% with type="start" %}
                {% include "page_filter_date_picker.html" %}
        {% endwith %}

        <br/>

        {% with type="stop" %}
                {% include "page_filter_date_picker.html" %}
        {% endwith %}



    </div>

{% endblock %}

{% block action_button %}
    <button target="_blank" id="apply_button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">done</i>
    </button>

    <div id="toast" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>


    <script>
    $("#apply_button").click(function () {
        SaveToLocalStorage();
        ShowSnackbar();
    });

    function ShowSnackbar(){
        var snackbarContainer = document.querySelector('#toast');
        var data = {message: 'Filter settings saved'};
        snackbarContainer.MaterialSnackbar.showSnackbar(data);
        setTimeout(function(){
            history.go(-1);     
        }, 500);

    }
    function SaveToLocalStorage(){
        console.log("saving to local storage");

        var city = $("#city_selector").val();
        console.log("city: "+city);
        localStorage.setItem('city', city);

        var limit_slider = $("#limit_slider").val();
        console.log("limit_slider: "+limit_slider);
        localStorage.setItem('limit_slider', limit_slider);

        var start_date = $("#date_start_text").val();
        console.log("start_date: "+start_date);
        localStorage.setItem('start_date', start_date);

        var stop_date = $("#date_stop_text").val();
        console.log("stop_date: "+stop_date);
        localStorage.setItem('stop_date', stop_date);

    }
    </script>




</div>

{% endblock %}

{% block arrow_back %}
<button class="mdl-layout-icon mdl-button mdl-js-button mdl-button--icon" onclick="history.go(-1);">
    <i class="material-icons">arrow_back</i>
</button>
{% endblock %}


