{% extends "main.html" %}
{% block content %}

{% for graph in graph_entities %}
        <div class="mdl-grid demo-content ">

            <div class="mdl-color--white mdl-shadow--2dp div-content-{{ graph.height }} mdl-typography--text-center">
                 <div id="{{ graph.name }}_spinner" class="mdl-spinner mdl-js-spinner is-active graph-spinner"></div>
                <div id="{{ graph.name }}" class="graph-content"></div>
            </div>


        </div>
        <script>

            var {{graph.name}}_layout = { title: '{{graph.title}}' };
            $("#{{graph.name}}").hide();
            var url_{{graph.name}} = encodeURI('json/{{graph.name}}?'+userLocalStorage.getApiParams());
            $(document).ready(function () {
                $.getJSON(url_{{graph.name}}, function (data) {
                    // console.log(data);
                    $("#{{graph.name}}").show();
                    Plotly.newPlot('{{ graph.name }}', data, {{graph.name}}_layout);
                    $("#{{ graph.name}}_spinner").hide();
                });
            });

        </script>
{% endfor %}


{% endblock %}