{% extends "main.html" %}

{% block head %}

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJU6NMmMeqTYp7jheVB9LTvq5CnCwSEnc"></script>
    <script src="static/heatmap_js/build/heatmap.js"></script>
    <script src="static/heatmap_js/plugins/gmaps-heatmap.js"></script>
{% endblock %}

{% block content %}

    <div id="map-canvas" style="height: 700px;"></div>
    <script>
        // map center
        var myLatlng = new google.maps.LatLng(50.083384, 14.4270363);
        // map options,
        var myOptions = {
          zoom: 14,
          maxZoom: 15,
          minZoom: 13,
          disableDefaultUI: true,
          center: myLatlng
        };
        // standard map
        map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);

        // geocode
        var geocoder = new google.maps.Geocoder();
        geocodeAddress(geocoder,map);
        function geocodeAddress(geocoder, resultsMap) {
            var city = userLocalStorage.getCity();
            if(city != "All") {
                geocoder.geocode({'address': city}, function(results, status) {
                  if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                      map: resultsMap,
                      position: results[0].geometry.location
                    });
                  } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                  }
                });
            }
        }


        // heatmap layer
        heatmap = new HeatmapOverlay(map,
          {
            // radius should be small ONLY if scaleRadius is true (or small radius is intended)
            // "radius": 0.0007,
            "radius": 0.003,
            "maxOpacity": 1,
            // scales the radius based on map zoom
            "scaleRadius": true,
            // if set to false the heatmap uses the global maximum for colorization
            // if activated: uses the data maximum within the current map boundaries
            //   (there will always be a red spot with useLocalExtremas true)
            "useLocalExtrema": true,
            // which field name in your data represents the latitude - default "lat"
            latField: 'lat',
            // which field name in your data represents the longitude - default "lng"
            lngField: 'lng',
            // which field name in your data represents the data value - default "value"
            valueField: 'count'
          }
        );


        var url_heatmap = encodeURI('json/heatmap?'+userLocalStorage.getApiParams());
        $(document).ready(function () {
            $.getJSON(url_heatmap, function (data) {
                // console.log(data);
                heatmap.setData(data);
            });
        });


</script>

{% endblock %}

