        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="date_{{ type }}_text">
            <label class="mdl-textfield__label" for="date_{{ type }}_text">{{ type }} date</label>
        </div>

        <button id="date_{{ type }}_button" class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Set
        </button>

        <script>
        var {{ type }}_date = userLocalStorage.get{{ type }}Date;
        $("#date_{{ type }}_text").val({{ type }}_date);
        </script>

        <script>
        var date_{{ type }} = new mdDateTimePicker.default({
                type: 'date',
                init: moment($("#date_{{ type }}_text").val(), 'DD-MM-YYYY'),
                future: moment('1.1.2020', 'DD-MM-YYYY')
        });

        document.getElementById('date_{{ type }}_button').addEventListener('click', function() {
                date_{{ type }}.toggle();
        });


        date_{{ type }}.trigger = document.getElementById('date_{{ type }}_text');
        document.getElementById('date_{{ type }}_text').addEventListener('onOk', function() {
            this.value = moment(date_{{ type }}.time).format('DD-MM-YYYY');
        });
        </script>


