<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <p style="width:300px">
        <input class="mdl-slider mdl-js-slider" type="range" min="5" max="100" value="20" tabindex="0" id="limit_slider">
        <form action="#">
          <div class="mdl-textfield mdl-js-textfield" id="limit_slider_text_01">
            <input class="mdl-textfield__input" type="text" id="limit_slider_inp_text_01">
            <label class="mdl-textfield__label" for="limit_slider_inp_text_01">Number of results</label>
          </div>
        </form>
    </p>
</div>

<script>
$('#limit_slider').on('input',function(){
   $("#limit_slider_text_01").get(0).MaterialTextfield.change(this.value);
});
$('#limit_slider_inp_text_01').keyup(function() {
   $("#limit_slider").get(0).MaterialSlider.change($( '#limit_slider_inp_text_01').val());
  //console.dir($('#limit_slider'));
});
</script>

<script>
    var limit_slider = +userLocalStorage.getLimit()
    $("#limit_slider").val(limit_slider);
    $("#limit_slider_inp_text_01").val(limit_slider);
</script>