{% extends "main.html" %}

{% block toolbar %}

{% endblock %}

{% block content %}

        <div class="mdl-grid demo-content ">
                <div class="mdl-color--white mdl-shadow--2dp div-content-600 mdl-typography--text-center">

                        <form action="" method="get">
                          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                            <label class="mdl-button mdl-js-button mdl-button--icon" for="people_search">
                              <i class="material-icons">search</i>
                            </label>
                            <div class="mdl-textfield__expandable-holder">
                              <input class="mdl-textfield__input" type="text" name="username" id="people_search">
                            </div>
                          </div>
                        </form>


                </div>
        </div>

{% endblock %}

