        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select" style="margin-top:30px;">
            <input class="mdl-textfield__input" type="text" id="city_selector" value="" readonly tabIndex="-1">
            <label for="city_selector">
                <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
            </label>
            <label for="city_selector" class="mdl-textfield__label">city</label>
            <ul for="city_selector" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                <li class="mdl-menu__item">All</li>
                {% for city in city_list %}
                <li class="mdl-menu__item">{{city.city}}</li>
                {% endfor %}
            </ul>
        </div>

        <script>
            $("#city_selector").val(userLocalStorage.getCity());
        </script>
