{% extends "main.html" %}

{% block toolbar %}
<!-- {{ super() }} -->
{% endblock %}

{% block content %}
<div class="mdl-grid demo-content ">

            <div class="mdl-color--white mdl-shadow--2dp div-content-600 mdl-typography--text-center">
                 <div id="wordcloud_event_spinner" class="mdl-spinner mdl-js-spinner is-active graph-spinner"></div>
                <img src="/img/wordcloud_events" id="wordcloud_event_img" class="graph-content"></img>
            </div>


        </div>


        <script>

            $("#wordcloud_event_img").hide();
            $("#wordcloud_event_img").on('load', function() {
                $("#wordcloud_event_img").show();
                $("#wordcloud_event_spinner").hide();
            })



        </script>


{% endblock %}

