{% extends "main.html" %}
{% block content %}
        <div class="mdl-grid demo-content ">

            <div class="mdl-color--white mdl-shadow--2dp div-content">
                 <div id="most_visited_places_spinner" class="mdl-spinner mdl-js-spinner is-active graph-spinner"></div>
                <div id="most_visited_places" class="graph-content"></div>
            </div>


        </div>
        <script>
            $( "#most_visited_places" ).hide();
            var url=' {{ url_for('jsonMostVisitedPlaces') }}';
            $(document).ready(function () {
                $.getJSON(url, function (data) {
                    console.log(data);
                    $( "#most_visited_places" ).show();
                    Plotly.newPlot('most_visited_places', data);
                    $( "#most_visited_places_spinner" ).hide();
                });
            });

        </script>
{% endblock %}